@model IEnumerable<DataTransferObjects.MovimientoStockIndexDTO>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<span class="alert-danger">@ViewBag.ErrorMsg</span>

<div>
    <a asp-action="Create">Crear Movimiento</a>
</div>
<div>
    <a asp-action="BuscarPorFecha">Buscar Por Fecha</a>
</div>
<div>
    <a asp-action="ObtenerResumen">Buscar Movimientos por Año</a>
</div>
<div>
    <a asp-action="BuscarPorArticuloYTipo">Buscar Por Artículo y Tipo de Movimiento</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticuloNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimientoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticuloNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimientoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
            </tr>
        }
    </tbody>
</table>
