@model IEnumerable<DataTransferObjects.MovimientoStockResumenDTO>

@{
    ViewData["Title"] = "Movimientos de Stock por Año";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<span class="alert-danger">@ViewBag.ErrorMsg</span>

<hr />

@foreach (var item in Model) {
    <div class="card col-md-4 mt-3">
        <div class="card-header">
            <b>
                Año: @Html.DisplayFor(modelItem => item.Anio)
            </b>
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var tm in item.TipoCantidad) {
                <li class="list-group-item">@Html.DisplayFor(t => tm)</li>        
            }
        </ul>
        <div class="card-footer">
            <b>
                Total año: @Html.DisplayFor(modelItem => item.CantidadTotalAnio)
            </b>
        </div>
    </div>
}


