@model IEnumerable<DataTransferObjects.MovimientoCantidadPorAnioYTipoDTO>

@{
    ViewData["Title"] = "Movimientos de Stock por Año";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<span class="alert-danger">@ViewBag.ErrorMsg</span>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTotalAnio)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTotalAnio)
                </td>
            </tr>
        }
    </tbody>
</table>